.navbar{
    background-color: rgb(201, 201, 100);
    position: fixed;
    top: 5px;
    width: 1210px;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    padding-left: 120px;
    font-size: 28px;
}

.navbar ul li a{
    text-decoration: none;
}

.popular {
    margin-top: 100px;
    text-align: center;
    background-color: rgb(161, 220, 102);
    text-decoration: underline;
    text-decoration-style: double;
}

.flavors {
    color: rgb(84, 218, 218);
    background-color: rgb(219, 108, 108);
}

.audio {
    text-align: center;
    margin-top: 15px;
    position: relative;
    z-index: -1;
}

.north {
    text-align: center;
    background-color: orchid;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.dishes {
    color: white;
    background-color: rgb(60, 180, 180);
}

.biryani {
    margin-left: 350px;
}

.aromatic {
    background-color: goldenrod;
    margin-left: 350px;
    width: 515px;
}

.south {
    text-align: center;
    background-color: darkorchid;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.spice {
    background-color: rgb(245, 92, 92);
    width: 600px;
}

.dosa {
    margin-left: 735px;
}

.sweet {
    text-align: center;
    color: coral;
    background-color: rgb(171, 109, 215);
    text-decoration: underline;
    text-decoration-style: wavy;
}

.dessert {
    background-color: chocolate;
}

.gulabjamun {
    margin-left: 350px;
}

.footer {
    text-align: center;
    color: white;
    background-color: blueviolet;
}